@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
	box-sizing: border-box;
	font-family: 'Open Sans',sans-serif;
	background-image: url("https://static.bangkokpost.com/media/content/20190708/c1_1708635_190708104006.jpg");
	background-size: cover;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	margin: 2rem auto;
	width: 100%;
	height: 600px;
}

.outer {
	position: relative;
	background: #fff;
	height: 450px;
	width: 770px;
	overflow: hidden;
	display: flex;
    border-radius: 30px;
	align-items: center;
}

img {
	position: absolute;
	top: 0px;
	right: -20px;
	z-index: 0;
	animation-delay: 0.5s;
    overflow: hidden;
    opacity: 80%;
}

.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3
	
}

h1 {
	color: #111;
}

p {
	width: 200px;
	font-size: 16px;
	line-height: 1.4;
	color: #aaa;
	margin: 20px 0;
	
}

.bg {
	display: inline-block;
	color: #fff;
	background: cornflowerblue;
	padding: 4px 10px;
	border-radius: 50px;
	font-size: .8em;
}
.button {
	width: fit-content;
	height: fit-content;
	margin-right: 100px;
	margin-top: 200px;
	
}

.button a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	color: rgb(80, 78, 78);
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
	
	
}

.button a:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: rgb(236, 48, 48);
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button a:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button a:hover {
	color: #fff;
	transition: all 0.5s ease;
}


.button a:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button a:nth-of-type(2) {
	border-radius: 0px 50px 50px 0;
}

.cart-icon {
	padding-right: 5px;
	
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
}