{% extends "base.html" %}
{% block content %}

<h2>Books in category:{{ book_list.first.category }}</h2>
<div class="row lastBooksContainer">
    {% for book in book_list %}
    <div class="col-xl-4 bookCard">
        <div class="cardBorder" style="border-radius: 17px;">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.title }}</h5>
            <h6>{{ book.author }}</h6>
            <a href="#commentBox">Comments ({{ book.comments.count }})</a>
        
            <a href="{% url 'bookDetail' slug=book.slug %}"><button class="btn btn-primary btn-xs">Book details</button></a>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock content %}